* {margin: 0;padding: 0; box-sizing: border-box;}

.app-content {width: 100%; height: 100%;}
.input-area {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 5);
}
.result-area {
    width: 700px;
    height: 320px;;
    border: 3px solid black;
    margin: auto;
    margin-top: 60px;
    position: relative;
}

.ResultHead {
    position: absolute;
    text-align: center;
    top: -4%;
    left: 2%;
    width:6%;
    background-color: #f8f3f3;
}

.result-area .contents {
    width: 90%;
    height: 100%;
    margin: auto;
}

.result-area .contents .userinformation {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userinformation {
    display: flex;
    height: 40%;
    width: 30%;
}
.accountInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5%;
    width: 90%;
}

.units {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.result-area .contents .line {
    width: 100%;
    height: 10px;
    background-color: black;
}
.values {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

